@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Checkout
	6.1 Billing
	6.2 Cart
7. Footer


******************************/

/***********
1. Fonts
***********/


/*********************************
2. Body and some general stuff
*********************************/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Open+Sans:400,600,800');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css');
*
{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #FFFFFF;
    color: #a5a5a5;
}
div
{
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
    list-style: none;
    margin-bottom: 0px;
}
p
{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #969696;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
    display: inline;
    position: relative;
    color: inherit;
    border-bottom: solid 1px #ffa07f;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
p:last-of-type
{
    margin-bottom: 0;
}
a
{
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
    position: relative;
    color: #FF6347;
}
p a:hover
{
    color: #FFFFFF;
    background: #ffa07f;
}
p a:hover::after
{
    opacity: 0.2;
}
::selection
{
    background: rgba(188,155,155,0.6);
    color: #FFFFFF;
}
p::selection
{

}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    line-height: 1.2;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection
{

}
img
{
    max-width: 100%;
}
button:active
{
    outline: none;
}
.form-control
{
    color: #db5246;
}
section
{
    display: block;
    position: relative;
    box-sizing: border-box;
}
.clear
{
    clear: both;
}
.clearfix::before, .clearfix::after
{
    content: "";
    display: table;
}
.clearfix::after
{
    clear: both;
}
.clearfix
{
    zoom: 1;
}
.float_left
{
    float: left;
}
.float_right
{
    float: right;
}
.trans_200
{
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.trans_300
{
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.trans_400
{
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.trans_500
{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.fill_height
{
    height: 100%;
}
.super_container
{
    width: 100%;
    overflow: hidden;
}
.super_container_inner
{
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.super_container_inner.active
{
    -webkit-transform: translateX(350px);
    -moz-transform: translateX(350px);
    -ms-transform: translateX(350px);
    -o-transform: translateX(350px);
    transform: translateX(350px);
}
.super_overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba(0,0,0,0.75);
    z-index: 101;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.super_container_inner.active .super_overlay
{
    visibility: visible;
    opacity: 1;
}
.prlx_parent
{
    overflow: hidden;
}
.prlx
{
    height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.background_image
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.nopadding
{
    padding: 0px !important;
}
.section_title
{
    font-size: 36px;
    font-weight: 700;
    color: #4a4a4a;
    line-height: 1.2;
}

/*********************************
5. Home
*********************************/

.home
{
    width: 100%;
    height: 234px;
    padding-top: 79px;
    background: #4a4a4a;
}
.home_container
{
    width: 100%;
    height: 100%;
    padding-bottom: 43px;
}
.home_title
{
    font-size: 36px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 0.75;
}
.breadcrumbs
{
    margin-top: 15px;
}
.breadcrumbs ul li
{
    position: relative;
}
.breadcrumbs ul li:not(:last-of-type)::after
{
    display: inline-block;
    content: '/';
    font-size: 16px;
    font-weight: 500;
    color: #969696;
    margin-left: 4px;
    margin-right: 4px;
}
.breadcrumbs ul li,
.breadcrumbs ul li a
{
    font-size: 16px;
    font-weight: 500;
    color: #969696;
}
.breadcrumbs ul li a:hover
{
    color: #2fce98;
}

/*********************************
6. Checkout
*********************************/

.checkout
{
    width: 100%;
    background: #FFFFFF;
    padding-top: 101px;
    padding-bottom: 101px;
}

/*********************************
6.1 Billing
*********************************/

.billing
{
    padding-top: 51px;
    padding-left: 68px;
    padding-right: 68px;
    padding-bottom: 32px;
    background: #f8f8f8;
}
.checkout_box
{
    background: #edf4f6;
}
.checkout_title
{
    font-weight: 600;
    color: #4a4a4a;
    font-size: 24px;
    line-height: 0.75;
}
.checkout_form_container
{
    margin-top: 31px;
}
.checkout_form > div:not(:last-child)
{
    margin-bottom: 20px;
}
.checkout_form label
{
    font-size: 14px;
    font-weight: 600;
    color: #414141;
    margin-bottom: 9px;
}
.checkout_input
{
    width: 100%;
    height: 52px;
    background: #FFFFFF;
    border: none;
    outline: none;
    box-sizing: border-box;
    border-bottom: solid 2px #FFFFFF;
    padding-left: 20px;
    color: #000000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.checkout_input:hover,
.checkout_input:focus
{
    border-bottom: solid 2px #2fce98;
}
.checkout_input::-webkit-input-placeholder
{
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #969696 !important;
}
.checkout_input:-moz-placeholder
{
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #969696 !important;
}
.checkout_input::-moz-placeholder
{
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #969696 !important;
}
.checkout_input:-ms-input-placeholder
{
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #969696 !important;
}

.checkout_input:focus::-webkit-input-placeholder
{
    color: #000000 !important;
}
.checkout_input:focus:-moz-placeholder
{
    color: #000000 !important;
}
.checkout_input:focus::-moz-placeholder
{
    color: #000000 !important;
}
.checkout_input:focus:-ms-input-placeholder
{
    color: #000000 !important;
}

.checkout_input:hover::-webkit-input-placeholder
{
    color: #000000 !important;
}
.checkout_input:hover:-moz-placeholder
{
    color: #000000 !important;
}
.checkout_input:hover::-moz-placeholder
{
    color: #000000 !important;
}
.checkout_input:hover:-ms-input-placeholder
{
    color: #000000 !important;
}

.dropdown_item_select
{
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-user-select: none;

    background-position: center right;
    background-repeat: no-repeat;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: #969696 !important;
}
.dropdown_item_select::-ms-expand
{
    display: none;
}
.checkout_address_2
{
    margin-top: 16px;
}
.checkout_extra
{
    margin-top: 22px;
}
.checkbox_container
{
    position: relative;
    padding-left: 29px;
}
.billing_checkbox
{
    display: none;
}
.checkbox_mark
{
    position: absolute;
    left: 0;
    top: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    background: #FFFFFF;
    cursor: pointer;
    vertical-align: middle;
    margin-bottom: 0;
    border: solid 2px #969696;
}
.billing_checkbox:checked ~ .checkbox_mark
{
    border-color: #2fce98;
}
.checkbox_text
{
    font-size: 13px;
    font-weight: 400;
    color: #4a4a4a;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

/*********************************
6.1 Cart Total
*********************************/

.cart_total
{
    padding-top: 51px;
    padding-left: 68px;
    padding-bottom: 59px;
    padding-right: 68px;
    background: #f8f8f8;
}
.cart_extra_total_list
{
    margin-top: 36px;
    padding-right: 48px;
    padding-left: 20px;
}
.cart_extra_total_list li
{
    position: relative;
}
.cart_extra_total_list li:not(:last-child)
{
    margin-bottom: 24px;
}
.cart_extra_total_title,
.cart_extra_total_value
{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #969696;
}
.cart_extra_total_value
{
    color: #4a4a4a;
}
.cart_extra_total_list li:last-child .cart_extra_total_value
{
    color: #4a4a4a;
    font-weight: 800;
}
.cart_extra_total_list li:last-child::before
{
    display: block;
    position: absolute;
    top: 50%;
    left: -20px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: calc(100% + 68px);
    height: 41px;
    background: #FFFFFF;
    content: '';
    z-index: 0;
}
.payment_options
{
    margin-top: 53px;
}
.checkout_button
{
    width: 100%;
    height: 44px;
    text-align: center;
    background: #2fce98;
    border-radius: 3px;
    margin-top: 32px;
}
.checkout_button a
{
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 44px;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.checkout_button:hover
{
    background: #4a4a4a;
}
.payment_options ul
{
    margin-top: 37px;
}
.payment_options ul li:not(:last-child)
{
    margin-bottom: 9px;
}
.payment_options input
{
    display: inline-block;
    vertical-align: middle;
}
.radio_container
{
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: #838383;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
}
.payment_radio
{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
.radio_mark
{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 16px;
    height: 16px;
    background: transparent;
    border: solid 2px #838383;
    border-radius: 50%;
}
.radio_mark::after
{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #2fce98;
    content: '';
    visibility: hidden;
    opacity: 0;
}
.radio_container input:checked ~ .radio_mark
{
    border-color: #2fce98;
}
.radio_container input:checked ~ .radio_mark::after
{
    visibility: visible;
    opacity: 1;
}
.radio_container input:checked ~ .radio_text
{
    color: #2fce98;
}
.radio_text
{
    font-size: 14px;
    font-weight: 500;
    color: #838383;
}
.cart_text
{
    margin-top: 26px;
}
.cart_text p
{
    font-size: 13px;
    color: #969696;
    font-weight: 300;
    line-height: 1.85;
}
